<div class="task-card" fxLayout="column" fxLayoutGap="8px">
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px">
    <div class="status-color" [style.backgroundColor]="statusColor"></div>
    <input
      #inputTitle
      class="title"
      type="text"
      [value]="task?.title"
      spellcheck="false"
      (blur)="updateTaskField('title', inputTitle.value)"
      (keyup.enter)="updateTaskField('title', inputTitle.value)"
    />
    <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center">
      <div class="dropdown-status">
        <div class="selected-status" (click)="openOptionsOverlay()">
          {{ this.selectedStatus }}
        </div>

        <div
          #optionsoverlay
          class="dropdown-options"
          [ngClass]="{ active: isDropdownActive }"
          fxLayout="column"
        >
          <div class="option" (click)="onChangeStatus(taskStatusEnum.TODO)">
            To Do
          </div>
          <div
            class="option"
            (click)="onChangeStatus(taskStatusEnum.IN_PROGRESS)"
          >
            In Progress
          </div>
          <div class="option" (click)="onChangeStatus(taskStatusEnum.PAUSED)">
            Paused
          </div>
          <div class="option" (click)="onChangeStatus(taskStatusEnum.DONE)">
            Done
          </div>
        </div>
      </div>
      <div
        class="delete-task"
        (click)="onClickDelete()"
        [ngClass]="{ active: isConfirmDeleteActive }"
        fxLayout="row"
        fxLayoutAlign="center center"
        fxLayoutGap="16px"
      >
        <i class="pi pi-trash" *ngIf="!isConfirmDeleteActive"></i>
        <div
          *ngIf="isConfirmDeleteActive"
          fxLayout="row"
          fxLayoutGap="12px"
          fxLayoutAlign="space-between center"
        >
          <div class="delete-text">Delete?</div>
          <i class="pi pi-check" (click)="onConfirmDelete()"></i>
          <i class="pi pi-times"></i>
        </div>
      </div>
    </div>
  </div>

  <textarea
    #inputDescription
    class="description"
    autosize
    minRows="1"
    spellcheck="false"
    (blur)="updateTaskField('description', inputDescription.value)"
    >{{ this.task?.description }}</textarea
  >
</div>
